*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar{
    text-align:center !important;
    background-color: black;
    padding: 15px;
    font-family: "Poppins", sans-serif;
  }
body
{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./background.jpeg");
    background-color: #141414;
    background-repeat: no-repeat;
    height: 100%;
    width:100%;
    background-size:cover;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
h1{
    color: white;
    text-align: center;
    padding: 5%;
    
}
.circle
{
    position: relative;
    width: 280px;
    height: 280px;
    margin: 50px 20px 70px;
}

.container .circle::before
{
   content: '';
   position: absolute;
   bottom: -70px;
   width: 100%;
   height: 60px;
   /* background-color: black;   */
   /* background: radial-gradient(rgba(255, 255, 255, 0.705),transparent,transparent); */
   border-radius: 50%;
   transition: 0.5s;
}
.circle:hover::before
{
    opacity: 0.4;
    transform:scale(0.5) ;
}
.circle:hover::after
{
    opacity: 0.4;
    transform:scale(0.5) ;
}
.heading
{
    height: 30px;
    width: 100%;
    justify-content: top;
    font-family: cursive;
    color: white;
}
.shape
{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    clip-path: circle(50% at 50% 50%);
    transition: 0.5s;
    text-align: center;
}

.circle:hover .shape
{
    translate: translate(-20px);
}

/* .content
{
    opacity: 0;
    position: absolute;
    bottom: -200px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; */
    /* backdrop-filter: blur(15px); */
    /* background-color: rgba(31, 30, 30, 0.308);
    box-shadow: 0 -10px 10px rgba(216, 211, 211, 0.11);
    transition: 0.5s;
    border-radius: 47%;
    
} */
.content
{
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  transition: opacity 0.5s;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 47%;
  color: #fff;
  transform: translateY(20px);
  transition: transform 0.5s;
}
/* .circle:hover .content
{
    bottom: 0px;
    opacity: 1; */
    /* border-radius: 50%; */
.circle:hover .content
{
    opacity: 1;
    transform: translateY(0);
}

p{
    color: #f5f5f5ec;
    /* text-transform: uppercase; */
    font-size: 35px;
    text-align: center;
    transition: 0.5s;
    line-height: 0.8em;
    opacity:0;
    font-family: 'Lobster';
    transform:translateY(-20px) ;
    line-height: normal;
}
.circle:hover p
{
    opacity: 1;
    /* transform: translateY(0px); */
}
h1
{
    font-size: 75px;
    font-family:monospace;
    color: rgb(248, 248, 248);
}
span
{
    color: rgb(253, 253, 253);
    font-size: 15px;
    text-align: center;
    text-transform: initial;
    opacity: 0;
}
.circle:hover span
{
    opacity: 1;
    transform: translateY(0px);
    text-align: center;
    padding-left:20% ;

}

