.img_gensec{
  position: relative;
  height: 300px;
  width: 280px;
  border-radius: 20%
}
.img{
  position: relative;
  height: 220px;
  width: 200px;
  border-radius: 20%

}
.image_image{
  width: 100%;
  height: 100%;
  border-radius: 20%;
  display: block;
 object-fit: cover;
   box-shadow:5px 5px 5px black;

}
.image_overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  opacity: 0;
  transition: opacity 0.5s;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20%;
  color: #fff;
  transform: translateY(20px);
  transition: transform 0.5s;
}
.image_overlay:hover{
  opacity: 1;
  transform: translateY(0);
}
.image_overlay:hover + .image_image{
  opacity: 0.5 !important;
}
.image_text{

  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  color:#F4F5FF;

}
span{
font-family: 'Oxygen', sans-serif;
  font-size: 26px;
  color: #fff;

}
a:hover{
  opacity: 1;
}

.flex-container{
  display: flex;
  flex-wrap:nowrap;
  flex-direction: row;
  justify-content: space-between !important ;
  justify-content: space-around !important;
  margin-top: 50px;
  margin-bottom: 50px;
}




h1{
  text-align: center;
  color: #fff;
  font-family: 'Montserrat Bold', arial;
  font-size: 3rem;
  line-height: 1.5rem;
}

.top{
padding-bottom: 10px;
padding-top: 30px;
}

body{
  background: url("https://muskanpreet.github.io/Team2/5137894.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}

a{

  display: inline;
  text-align: center;
  padding: 0;
  opacity: 0.75;
  /* font-size: 32px; */
  color: #0077b5;

}
.image_text a{
  font-size: 32px;
}

.special{
  display:none;
}

@media only screen and (max-width: 500px){
  a{
    display: none;
  }
  .special{
    display:block !important;
  }
  body {
    background: url("https://muskanpreet.github.io/Team2/5137894.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
  }
  .img{

    height: 120px;
    width:100px;
  }
  .img_gensec{

    height: 180px;
    width: 160px;
  }
  h1{
    text-align: center;
    color: #fff;
    font-family: 'Montserrat Bold', arial;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .top{
  padding-bottom: 0px;
  padding-top: 10px;
  }
  .image_text{
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 14px !important;
    color:#F4F5FF;
  }

  span{
  font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: #fff;
  }


  a{
    
    font-size: 26px;
  }

nav{
  display:none !important;
}

}
.navbar{

  text-align:center !important;
  background-color: black;
  padding: 15px;
  font-family: "Poppins", sans-serif;
}
button{
  border: 0;
  background-color: transparent;
}
